<div class="row">
    <div class="col-md-5">
        <app-recipe-list
            (recipeWasClicked)="detailedRecipe = $event"    
        ></app-recipe-list>
    </div>
    <div class="col-md-7">
        <app-recipe-detail
            *ngIf="detailedRecipe; else noneRecipeSelected"
            [recipe]="detailedRecipe"
        ></app-recipe-detail>
        <ng-template #noneRecipeSelected><p class="texto-cinza-centralizado" >Selecione uma receita para detalhar...</p></ng-template>
    </div>
</div>